// FONTS
@import url('https://fonts.googleapis.com/css2?family=PT+Serif:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=PT+Sans:wght@400;700&display=swap');


* {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
}
html {
        scroll-behavior: smooth;
}

h1, h2, h3, h4, h5 {
        font-family: 'PT Serif', serif;
        color: #000000;
}

p, input {
        font-family: 'PT Sans', serif;
        color: #000000;
}

.container {
        // max-width: 1250px;
}

// NAV
.nav-container {
        margin-bottom: 62px;
        height: 72px;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;

        .logo-col {
                flex: 3;
        }
        .email-div {
                width: 25%;
                display: flex;
                align-items: center;
                flex: 1;
                .icon-div {
                        margin-right: 16px;
                        width: 53px;
                        height: 53px;
                        border-radius: 50%;
                        border: 1px solid #389264;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        i {
                                color: #389264;
                        }
                }
                p {
                        margin: 0;
                        font-size: 16px;
                        line-height: 26px;
                        font-weight: 600;
                        color: #222222;
                        text-transform: capitalize;
                        a {
                                font-size: 15px;
                                line-height: 26px;
                                font-weight: 400;
                                color: #777777;
                        }
                }
        }
}

.swal2-styled.swal2-confirm {
        background-color: #389264 !important;
        transition: all .2s ease-in-out;
}

@media screen and (max-width: 1024px) {
        .logo-col {
                flex: 1 !important;
        }
}


// HERO
.hero-container {
        height: auto;
        .row {
                .text-col {
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        align-items: flex-start;

                        .hero-heading {
                                margin-bottom: 19px;
                                font-size: 40px;
                                font-weight: bold;
                                line-height: 48px;
                        }
                        .hero-subheading {
                                margin-bottom: 30px;
                                font-size: 32px;
                                font-weight: bold;
                                line-height: 41px;
                                color: #389264;
                        }
                        .hero-para {
                                margin-bottom: 20px;
                                font-size: 20px;
                                font-weight: normal;
                                line-height: 26px;
                                text-transform: uppercase;
                        }
                        .contact-btn {
                                padding: 9px 17px;
                                font-family: 'PT Sans', serif;
                                height: 41px;
                                width: 158px;
                                max-width: 158px;
                                font-size: 18px;
                                font-weight: bold;
                                line-height: 23px;
                                color: #FFFFFF;
                                background-color: #2E7D32;
                                border-radius: 11px;
                                cursor: pointer;
                        }
                }
                .img-col {
                        img {
                                width: 100%;
                        }
                }
        }
}

// HOW IT WORKS

.how-container {
        margin-top: 54px;
        position: relative;
        .main-image {
                width: 100%;
                margin-left: -46px;
        }
        .img-para {
                position: absolute;
                top: 12%;
                left: 5%;
                font-size: 26px;
                font-weight: normal;
                line-height: 34px;
                text-align: center;
        }
        .points-div {
                position: absolute;
                bottom: 1%;
                right: 10%;
            
                .small-head {
                        margin-left: 100px;
                        margin-bottom: 31px;
                        font-size: 32px;
                        font-weight: bold;
                        line-height: 41px;
                }

                .points-list {
                        list-style: none;
                        font-size: 20px;
                        font-weight: normal;
                        line-height: 26px;

                        .list-item {
                                position: relative;
                                margin-bottom: 40px;
                                height: 80px;
                                // display: flex;
                                // align-items: center;
                                p {
                                        margin: 0;
                                        padding-left: 100px;
                                }
                                &::before {
                                        position: absolute;
                                }
                        }
                        .list-item:nth-of-type(1) {
                                &::before {
                                        content: url(../media/icons/Icon-1-Active-Ingradients.svg);
                                }
                        }
                        .list-item:nth-of-type(2) {
                                &::before {
                                        content: url(../media/icons/Icon-2-Nano-Particles.svg);
                                }
                        }
                        .list-item:nth-of-type(3) {
                                &::before {
                                        content: url(../media/icons/Icon-3-Coating.svg);
                                }
                        }
                }
        }
}

hr {
        margin: 0;
        border-top: 1px solid #6D6D6D;
}

// FORM 

.form-section {
        background: #FAFAFA;
}

.form-container {
        padding-top: 74px;
        padding-bottom: 50px;
        

        .form-heading {
                margin-bottom: 48px;
                font-size: 36px;
                font-weight: bold;
                line-height: 45px;
        }

        .form {
                max-width: 517px;

                .form-group {
                        margin-bottom: 32px;
                }

                input {
                        height: 47px;
                }

                input, textarea {
                        background-color: #F0F0F0;
                        border: 1px solid #F0F0F0;
                        font-size: 15px;
                        line-height: 21px;

                        &::placeholder {
                                color: #757575;
                        }

                        &:hover, &:focus {
                                box-shadow: none;
                                border: 1px solid #757575;
                        }
                }

                .send-btn {
                        height: 41px;
                        width: 158px;
                        font-size: 18px;
                        font-weight: bold;
                        color: #FFFFFF;
                        background-color: #309050;
                        border-radius: 8px;

                        &:hover, &:focus {
                                outline: none;
                                box-shadow: none;
                        }
                }

                label.error {
                        margin: 0;
                        color: red;
                }
        }

        .contact-col {
                display: flex;
                align-items: center;
                justify-content: center;
                .div {
                        .contact-head {
                                margin-bottom: 30px;
                                font-size: 24px;
                                font-weight: bold;
                                color: rgba(0, 0, 0, 0.87);
                        }
                        .contact {
                                list-style: none;
                                .list-item {
                                        margin-bottom: 50px;
                                        p {
                                                margin: 0;
                                                font-size: 20px;
                                                line-height: 26px;
                                                color: rgba(0, 0, 0, 0.87);
                                        }
                                        .list-head {
                                                font-weight: bold;
                                        }
                                }
                        }
                }
        }
}

@media screen and (max-width: 767px) {
        .contact-col {
                margin-top: 50px;
        }
}


footer {
        padding: 24px 0px;
        background: #0d1a2f;
        .container {
                display: flex;
                align-items: center;
                justify-content: space-between;
                p,a {
                        color: #ababab;
                        font-size: 15px;
                        font-weight: 400;
                        line-height: 26px;
                        margin-bottom: 0px;
                }

                .link {
                        ul {
                                margin-bottom: 0rem;
                                display: flex;
                                list-style: none;
                                li {
                                        margin-left: 32px;
                                }
                        }
                }
        }
}



// Ipad PRo

@media screen and (min-width: 993px) and (max-width: 1024px) {
        .how-container{
                .img-para {
                        transform: scale(.8);
                        // top: 12%;
                        left: 1%;
                    }
                    .points-div {
                        transform: scale(.8);
                        bottom: -1%;
                        right: 11%;

                    }

        } 
}

// ipad
@media screen and (min-width: 768px) and (max-width: 992px) {
        .nav-container {
                .email-div {
                        width: 30%;
                }
        }
        .how-container{
                .img-para {
                        transform: scale(.7);
                        // top: 12%;
                        left: -4.5%;
                    }
                    .points-div {
                        transform: scale(0.6);
                        bottom: -12%;
                        right: 1%;
                    }

        } 
}
// mobile
@media screen and (max-width: 767px) {
        .nav-container {
                margin-bottom: 40px;
                flex-direction: column;
                height: auto;

                .email-div {
                        width: auto;
                }
        }

        .hero-container {
                .hero-heading {
                        margin-bottom: 19px !important;
                        font-size: 32px !important;
                        line-height: 40px !important;
                }
                .hero-subheading {
                        margin-bottom: 20px !important;
                        font-size: 28px !important;
                        line-height: 34px !important;
                }
                .hero-para {
                        margin-bottom: 24px !important;
                }
        }

        .how-container{
                .main-image {
                        margin-left: -7px;
                }
                .img-para {
                        transform: scale(0.3);
                        top: -4%;
                        left: -16%;
                    }
                    .points-div {
                        br {
                                display: none;
                        }                    
                        transform: scale(0.3);
                        bottom: -42%;
                        right: -38%;
                        margin-left: -27%;
                    }
        } 

        .form-container {
                .form {
                        width: 100%;
                }
        }

        footer {
                .container {
                       flex-direction: column;
                       p {
                               text-align: center;
                       }
        
                        .link {
                                ul {
                                       margin-left: -32px;
                                }
                        }
                }
        }
}

// mobile landscape
@media screen and (max-width: 767px) and (orientation: landscape) {
        .how-container{
                .img-para {
                        transform: scale(0.5);
                        top: 0%;
                        left: -5%;
                    }
                    .points-div {
                            display: none;
                        br {
                                display: block;
                        }
                        transform: scale(0.5);
                        bottom: -23%;
                        right: -17%;
                    
                    }

        } 
}