@import url("https://fonts.googleapis.com/css2?family=PT+Serif:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=PT+Sans:wght@400;700&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

h1, h2, h3, h4, h5 {
  font-family: 'PT Serif', serif;
  color: #000000;
}

p, input {
  font-family: 'PT Sans', serif;
  color: #000000;
}

.nav-container {
  margin-bottom: 62px;
  height: 72px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.nav-container .logo-col {
  -webkit-box-flex: 3;
      -ms-flex: 3;
          flex: 3;
}

.nav-container .contact-div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.nav-container .phone-div {
  margin-right: 10px;
}

.nav-container .email-div, .nav-container .phone-div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav-container .email-div .icon-div, .nav-container .phone-div .icon-div {
  margin-right: 16px;
  width: 53px;
  height: 53px;
  border-radius: 50%;
  border: 1px solid #389264;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav-container .email-div .icon-div i, .nav-container .phone-div .icon-div i {
  color: #389264;
}

.nav-container .email-div p, .nav-container .phone-div p {
  margin: 0;
  font-size: 16px;
  line-height: 26px;
  font-weight: 600;
  color: #222222;
  text-transform: capitalize;
}

.nav-container .email-div p a, .nav-container .phone-div p a {
  font-size: 15px;
  line-height: 26px;
  font-weight: 400;
  color: #777777;
}

.swal2-styled.swal2-confirm {
  background-color: #389264 !important;
  -webkit-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
}

@media screen and (max-width: 1024px) {
  .logo-col {
    -webkit-box-flex: 1 !important;
        -ms-flex: 1 !important;
            flex: 1 !important;
  }
}

@media screen and (max-width: 767px) {
  .nav-container {
    overflow: hidden;
  }
  .logo-col {
    padding-top: 20px;
    padding-bottom: 20px;
  }
  .contact-div {
    padding-top: 20px;
    padding-bottom: 20px;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 110%;
    background: #F5F5F5;
    margin-left: -15px;
    margin-right: -15px;
    padding-left: 15px;
    padding-right: 15px;
  }
  .contact-div .phone-div {
    margin-right: 10px;
  }
  .contact-div .phone-div .icon-div, .contact-div .email-div .icon-div {
    border: none;
    width: 20px;
    margin-right: 10px;
  }
}

.hero-container {
  height: auto;
}

.hero-container .row .text-col {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.hero-container .row .text-col .hero-heading {
  margin-bottom: 19px;
  font-size: 40px;
  font-weight: bold;
  line-height: 48px;
}

.hero-container .row .text-col .hero-subheading {
  margin-bottom: 30px;
  font-size: 32px;
  font-weight: bold;
  line-height: 41px;
  color: #389264;
}

.hero-container .row .text-col .hero-para {
  margin-bottom: 20px;
  font-size: 20px;
  font-weight: normal;
  line-height: 26px;
  text-transform: uppercase;
}

.hero-container .row .text-col .contact-btn {
  padding: 9px 17px;
  font-family: 'PT Sans', serif;
  height: 41px;
  width: 158px;
  max-width: 158px;
  font-size: 18px;
  font-weight: bold;
  line-height: 23px;
  color: #FFFFFF;
  background-color: #2E7D32;
  border-radius: 11px;
  cursor: pointer;
}

.hero-container .row .img-col img {
  width: 100%;
}

.how-container {
  margin-top: 54px;
  position: relative;
}

.how-container .main-image {
  width: 100%;
  margin-left: -46px;
}

.how-container .img-para {
  position: absolute;
  top: 12%;
  left: 5%;
  font-size: 26px;
  font-weight: normal;
  line-height: 34px;
  text-align: center;
}

.how-container .points-div {
  position: absolute;
  bottom: 1%;
  right: 10%;
}

.how-container .points-div .small-head {
  margin-left: 100px;
  margin-bottom: 31px;
  font-size: 32px;
  font-weight: bold;
  line-height: 41px;
}

.how-container .points-div .points-list {
  list-style: none;
  font-size: 20px;
  font-weight: normal;
  line-height: 26px;
}

.how-container .points-div .points-list .list-item {
  position: relative;
  margin-bottom: 40px;
  height: 80px;
}

.how-container .points-div .points-list .list-item p {
  margin: 0;
  padding-left: 100px;
}

.how-container .points-div .points-list .list-item::before {
  position: absolute;
}

.how-container .points-div .points-list .list-item:nth-of-type(1)::before {
  content: url(../media/icons/Icon-1-Active-Ingradients.svg);
}

.how-container .points-div .points-list .list-item:nth-of-type(2)::before {
  content: url(../media/icons/Icon-2-Nano-Particles.svg);
}

.how-container .points-div .points-list .list-item:nth-of-type(3)::before {
  content: url(../media/icons/Icon-3-Coating.svg);
}

hr {
  margin: 0;
  border-top: 1px solid #6D6D6D;
}

.form-section {
  background: #FAFAFA;
}

.form-container {
  padding-top: 74px;
  padding-bottom: 50px;
}

.form-container .form-heading {
  margin-bottom: 48px;
  font-size: 36px;
  font-weight: bold;
  line-height: 45px;
}

.form-container .form {
  max-width: 517px;
}

.form-container .form .form-group {
  margin-bottom: 32px;
}

.form-container .form input {
  height: 47px;
}

.form-container .form input, .form-container .form textarea {
  background-color: #F0F0F0;
  border: 1px solid #F0F0F0;
  font-size: 15px;
  line-height: 21px;
}

.form-container .form input::-webkit-input-placeholder, .form-container .form textarea::-webkit-input-placeholder {
  color: #757575;
}

.form-container .form input:-ms-input-placeholder, .form-container .form textarea:-ms-input-placeholder {
  color: #757575;
}

.form-container .form input::-ms-input-placeholder, .form-container .form textarea::-ms-input-placeholder {
  color: #757575;
}

.form-container .form input::placeholder, .form-container .form textarea::placeholder {
  color: #757575;
}

.form-container .form input:hover, .form-container .form input:focus, .form-container .form textarea:hover, .form-container .form textarea:focus {
  -webkit-box-shadow: none;
          box-shadow: none;
  border: 1px solid #757575;
}

.form-container .form .send-btn {
  height: 41px;
  width: 158px;
  font-size: 18px;
  font-weight: bold;
  color: #FFFFFF;
  background-color: #309050;
  border-radius: 8px;
}

.form-container .form .send-btn:hover, .form-container .form .send-btn:focus {
  outline: none;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.form-container .form label.error {
  margin: 0;
  color: red;
}

.form-container .contact-col {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.form-container .contact-col .div .contact-head {
  margin-bottom: 30px;
  font-size: 24px;
  font-weight: bold;
  color: rgba(0, 0, 0, 0.87);
}

.form-container .contact-col .div .contact {
  list-style: none;
}

.form-container .contact-col .div .contact .list-item {
  margin-bottom: 50px;
}

.form-container .contact-col .div .contact .list-item p {
  margin: 0;
  font-size: 20px;
  line-height: 26px;
  color: rgba(0, 0, 0, 0.87);
}

.form-container .contact-col .div .contact .list-item .list-head {
  font-weight: bold;
}

@media screen and (max-width: 767px) {
  .contact-col {
    margin-top: 50px;
  }
}

footer {
  padding: 24px 0px;
  background: #0d1a2f;
}

footer .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

footer .container p, footer .container a {
  color: #ababab;
  font-size: 15px;
  font-weight: 400;
  line-height: 26px;
  margin-bottom: 0px;
}

footer .container .link ul {
  margin-bottom: 0rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
}

footer .container .link ul li {
  margin-left: 32px;
}

@media screen and (min-width: 993px) and (max-width: 1024px) {
  .how-container .img-para {
    -webkit-transform: scale(0.8);
            transform: scale(0.8);
    left: 1%;
  }
  .how-container .points-div {
    -webkit-transform: scale(0.8);
            transform: scale(0.8);
    bottom: -1%;
    right: 11%;
  }
}

@media screen and (min-width: 768px) and (max-width: 992px) {
  .nav-container .email-div {
    width: 30%;
  }
  .how-container .img-para {
    -webkit-transform: scale(0.7);
            transform: scale(0.7);
    left: -4.5%;
  }
  .how-container .points-div {
    -webkit-transform: scale(0.6);
            transform: scale(0.6);
    bottom: -12%;
    right: 1%;
  }
}

@media screen and (max-width: 767px) {
  .nav-container {
    margin-bottom: 40px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: auto;
  }
  .nav-container .email-div {
    width: auto;
  }
  .hero-container .hero-heading {
    margin-bottom: 19px !important;
    font-size: 32px !important;
    line-height: 40px !important;
  }
  .hero-container .hero-subheading {
    margin-bottom: 20px !important;
    font-size: 28px !important;
    line-height: 34px !important;
  }
  .hero-container .hero-para {
    margin-bottom: 24px !important;
  }
  .how-container .main-image {
    margin-left: -7px;
  }
  .how-container .img-para {
    -webkit-transform: scale(0.3);
            transform: scale(0.3);
    top: -4%;
    left: -16%;
  }
  .how-container .points-div {
    -webkit-transform: scale(0.3);
            transform: scale(0.3);
    bottom: -42%;
    right: -38%;
    margin-left: -27%;
  }
  .how-container .points-div br {
    display: none;
  }
  .how-container-mobile {
    position: relative;
  }
  .how-container-mobile .img-para {
    -webkit-transform: scale(0.45);
            transform: scale(0.45);
    position: absolute;
    top: -2px;
    left: -6px;
  }
  .how-container-mobile .points-div {
    margin-top: -80px;
  }
  .how-container-mobile .points-div .small-head {
    margin-left: 40px;
    margin-bottom: 20px;
    font-size: 24px;
    font-weight: bold;
    line-height: 32px;
  }
  .how-container-mobile .points-div .points-list {
    list-style: none;
  }
  .how-container-mobile .points-div .points-list .list-item {
    margin-bottom: 20px;
  }
  .how-container-mobile .points-div .points-list .list-item p {
    margin: 0;
    margin-left: 40px;
    font-size: 20px;
    line-height: 26px;
  }
  .how-container-mobile .points-div .points-list .list-item p br {
    display: none;
  }
  .how-container-mobile .points-div .points-list .list-item::before {
    position: absolute;
    left: -11px;
    -webkit-transform: scale(0.5);
            transform: scale(0.5);
    margin-top: -15px;
  }
  .how-container-mobile .points-div .points-list .list-item:nth-of-type(1)::before {
    content: url(../media/icons/Icon-1-Active-Ingradients.svg);
  }
  .how-container-mobile .points-div .points-list .list-item:nth-of-type(2)::before {
    content: url(../media/icons/Icon-2-Nano-Particles.svg);
  }
  .how-container-mobile .points-div .points-list .list-item:nth-of-type(3)::before {
    content: url(../media/icons/Icon-3-Coating.svg);
  }
  .form-container .form {
    width: 100%;
  }
  footer .container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  footer .container p {
    text-align: center;
  }
  footer .container .link ul {
    margin-left: -32px;
  }
}

@media screen and (max-width: 767px) and (orientation: landscape) {
  .how-container .img-para {
    -webkit-transform: scale(0.5);
            transform: scale(0.5);
    top: 0%;
    left: -5%;
  }
  .how-container .points-div {
    display: none;
    -webkit-transform: scale(0.5);
            transform: scale(0.5);
    bottom: -23%;
    right: -17%;
  }
  .how-container .points-div br {
    display: block;
  }
}
/*# sourceMappingURL=main.css.map */